.Debts {
    background: #333;
    padding:20px;
}

/* .Debts */

.react-bootstrap-table tr {
    background:#fff;
    color:black;
}

/* .Debts */
.react-bootstrap-table tr.expanding-row {
    background:#888;
    color:black;
}
.react-bootstrap-table tr.expanding-row td{
    padding:4px 8px;
}

/* .Debts */
.react-bootstrap-table .table {
    margin-bottom: 0px;
}

.react-bootstrap-table .table thead,
.react-bootstrap-table .table thead tr
{
    color:#ddd;
    background: transparent;
}

/* .Debts */
.empty-table {
    background:#ddd;
    color:black;
    padding: 25px;
}

.expanded-debt {
    width: 100%;
    display: inline-grid;
    grid-template-columns: 250px auto;
}

.expanded-debt .Actions {
    display: inline-block;
}
.debt-due-date {
    padding: 0 0 15px;
    grid-column-start: 1;
    grid-column-end: span 5;
    grid-row-start: head;
}

.debt-due-date-label {
    padding-left:5px;
    font-style: italic;
}
.debt-due-date-value {
    padding-left:5px;
    font-weight: 700;
}

.debt-time-remaining {
    padding: 8px;
    background:#999999;
    border-radius: 4px;
    grid-column-start: 1;
}

.clock {
    display: grid;
    grid-template-columns: [days] 50px [hours] 50px [mins] 50px [secs] 50px;
    grid-template-rows: [head] 45px [labels] 20px [values] 40px;
}
.debt-make-payment {
    grid-column-start:2;
}
.make-payment-contents {
    margin:5px 5px 5px 15px;
}
.days-label, .hours-label, .mins-label, .secs-label {
    text-align:center;
}
.days-remaining, .hours-remaining, .mins-remaining, .secs-remaining {
    font-size: 1.3em;
    text-align:center;
    background: #44444422;
    margin:2px;
    padding: 5px;
}
.days-label {
    grid-column-start: days;
    grid-row-start: labels;
}

.hours-label {
    grid-column-start: hours;
    grid-row-start: labels;
}

.mins-label {
    grid-column-start: mins;
    grid-row-start: labels;
}

.secs-label {
    grid-column-start: secs;
    grid-row-start: labels;
}

.days-remaining {
    grid-column-start: days;
    grid-row-start: values;
}

.hours-remaining {
    grid-column-start: hours;
    grid-row-start: values;
}

.mins-remaining {
    grid-column-start: mins;
    grid-row-start: values;
}

.secs-remaining {
    grid-column-start: secs;
    grid-row-start: values;
}
