/*

faded-yellow #ffe897
 faded-yellow--highlight #f2d36b

*/

.Header {
    background: linear-gradient(#222, #353535);
}

.Header.navbar.navbar-default {
    border: 1px solid #333;
    box-shadow:1px 0px 35px 13px #151902;
}
.Header.navbar .navbar-header img.navbar-brand {
    width:auto;
    padding:15px;
}

.Header .navbar {
}
.Header .nav.navbar-nav .active a  {
    color: #d2d658;
    background: #333;
    font-weight:700;
}

.Header .nav.navbar-nav {
    flex-direction:row;
}
.Header .nav.navbar-nav > * {
    padding: 0 16px 0 0;
}

.Header .nav.navbar-nav a  {
    color: #d4da0b;
    outline: 0;
}
.Header .nav.navbar-nav a:focus  {
    color: #d2d658;
}

.Header .nav.navbar-nav a:hover  {
    color: white;
}
