.LoanRequests {
}
.LoanRequests .Title {
    margin-bottom:15px
}
 .LoanRequests .table-bordered thead tr {
    background:black;
}

 .LoanRequests .react-bootstrap-table .table > tbody > tr.loan-request-row:hover {
     background: #ffc;
     color: black;
 }
 .table {
     border:1px solid #555;
 }
.LoanRequests .table-bordered tbody > tr > td {
    border:0px;
    border-bottom: 1px solid #373737;
    padding: 16px 8px;
}
.loan-request-row {
    cursor: pointer;
}

.highlight {
    animation: highlight 2s;
    animation-delay: 250ms;
}
@keyframes highlight {
    0% {
        background: #444;
    }
    100% {
        background: #111;
    }
}

.react-bootstrap-table thead > tr > th {
    cursor: pointer;
    border: 1px solid #333;
}

.react-bootstrap-table th .order > .dropdown > .caret,
.react-bootstrap-table th .order > .dropup > .caret {
    display: none;
}
