.panel-LoanRequest .panel-heading,
    .panel-LoanRequest .panel-footer {
    background:lemonchiffon;
    color: #222;
}
.panel {
    background:#333;
    color:#eee;
}
.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
